<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Demo{% endblock %}</title>
    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous">
    </script>

    <style>
        html * {
            font-family: Arial, serif;
        }

        fieldset {
            display: inline-block;
            margin: 2% 0;
        }

        img {
            max-width: 350px;
        }
    </style>
    {% block head %} {% endblock %}
</head>
<body>
    <div style="margin:1% 5%">
        <form id="form_main">
            <p><a href="/">Homepage</a></p>
            <p>Welcome back, <b>user_demo</b>.</p>
            <h1>External report</h1>

            <p>
                <label for="input_kw">For: week </label>
                <input type="number" name="input_kw" id="input_kw" style="width: 40px">

                {# get current week #}
                <script>
                    $(()=>{
                        let today = new Date();
                        let jan_1st = new Date(today.getFullYear(), 0, 1);
                        const YEAR_MS = 24 * 60 * 60 * 1000;
                        let days = Math.floor((today - jan_1st) / YEAR_MS)
                        let current_week = Math.ceil(days / 7);

                        $("#input_kw").attr("value", current_week);
                    });
                </script>
                or
                <input type="file" id="input_file_upload" value="Select xlsx file">
                <script>
                    $(() => {
                        let input_file = $("#input_file_upload");
                        input_file.on("change", (event) => {
                            let path = input_file.val();
                            let file_name = path.split('\\').pop();
                            if (file_name === "control.csv") {
                                trigger_gas_outlook();
                                trigger_strom_outlook();
                                trigger_gas_overview();
                                trigger_strom_overview();
                            }
                        });
                    });
                </script>
            </p>
'
            <!-- gas outlook -->
            <fieldset>
                <legend><b>Gas Outlook</b></legend>
                <select id="select_gas_outlook_chart" required>
                    <option value="">Select chart</option>
                    <option value="chart_external_influences">External Influences</option>
                </select>
                <select id="select_gas_outlook_chart_type" required>
                    <option value="">Select chart type</option>
                    <option value="hbar">Horizontal Bar</option>
                    <option value="vbar">Vertical Bar</option>
                </select>
                <br>
                <br>
                <label>Commentary:</label>
                <br>
                <textarea id="ta_gas_outlook" cols="40" rows="5" required></textarea>
                <script>
                    $(() => {
                        let select_chart = $("#select_gas_outlook_chart");
                        let select_chart_type = $("#select_gas_outlook_chart_type");

                        let trigger_img = () => {
                            if (select_chart.val() === "chart_external_influences") {
                                if (select_chart_type.val() === "hbar") {
                                    $("#div_gas_outlook_img").show(0);
                                } else{
                                    $("#div_gas_outlook_img").hide(0);
                                }
                            } else {
                                $("#div_gas_outlook_img").hide(0);
                            }
                        };

                        select_chart.on("change", trigger_img);
                        select_chart_type.on("change", trigger_img);
                    });

                    let trigger_gas_outlook = () => {
                        $("#select_gas_outlook_chart").val("chart_external_influences");
                        $("#select_gas_outlook_chart_type").val("hbar");
                        $("#ta_gas_outlook").val(
                            "Das Gassystem ist trotz der Einstellung der NS1 durch hohe LNG-Sendouts und maximale norwegischen Exporte gut balanciert. " +
                            "Die Speicher in NWE sind derzeit zu 92% gefüllt. " +
                            "Auf der Nachfrageseite wurde ein deutlicher Rückgang der industriellen Nachfrage seit dem zweiten Quartal 2022 von uns beobachtet. " +
                            "Bezüglich des Ausblicks konzentrieren wir uns derzeit auf den klaren Trend bei den Temperaturprognosen. " +
                            "Solange dieser weiter Temperaturen unterhalb der Norm für Nordwest-Europa aufzeigt, " +
                            "verbleibt der Ausblick trotz einer mehr als ausreichenden Lage auf der Angebotsseite auf bullish.");
                        $("#div_gas_outlook_img").show(0);
                    }
                </script>
                <div id="div_gas_outlook_img" hidden>
                    <img src="{{ url_for('static', filename='outlook_gas.png') }}" alt="Outlook gas 1">
                    <br>
                    <img src="{{ url_for('static', filename='outlook_gas_preistendenz.png') }}" alt="Outlook gas 2">
                </div>
            </fieldset>

            <!-- strom outlook -->
            <fieldset>
                <legend><b>Electricity Outlook</b></legend>
                <select id="select_strom_outlook_chart" required>
                    <option value="">Select chart</option>
                    <option value="chart_external_influences">External Influences</option>
                </select>
                <select id="select_strom_outlook_chart_type" required>
                    <option value="">Select chart type</option>
                    <option value="hbar">Horizontal Bar</option>
                    <option value="vbar">Vertical Bar</option>
                </select>
                <br>
                <br>
                <label>Commentary:</label>
                <br>
                <textarea id="ta_strom_outlook" cols="40" rows="5" required></textarea>
                <script>
                    $(() => {
                        let select_chart = $("#select_strom_outlook_chart");
                        let select_chart_type = $("#select_strom_outlook_chart_type");

                        let trigger_img = () => {
                            if (select_chart.val() === "chart_external_influences") {
                                if (select_chart_type.val() === "hbar") {
                                    $("#div_strom_outlook_img").show(0);
                                } else{
                                    $("#div_strom_outlook_img").hide(0);
                                }
                            } else {
                                $("#div_strom_outlook_img").hide(0);
                            }
                        };

                        select_chart.on("change", trigger_img);
                        select_chart_type.on("change", trigger_img);
                    });

                    let trigger_strom_outlook = () => {
                        $("#select_strom_outlook_chart").val("chart_external_influences");
                        $("#select_strom_outlook_chart_type").val("hbar");
                        $("#ta_strom_outlook").val(
                            "In der kommenden Berichtswoche wird weiterhin der Gasmarkt den Strommarkt wohl am stärksten beeinflussen. " +
                            "Wichtigster Datenpunkt wird dementsprechend die Temperatur-Vorhersage für den weiteren Dezember werden. " +
                            "Sollten die Modelle stetig kältere Temperaturen unterhalb der Norm zeigen, " +
                            "könnte der Markt weiter unterstützt werden. Zudem wird interessant zu sehen sein, " +
                            "inwiefern der Markt auf die kälteren Temperaturen bezüglich Ausspeicherung aus den Gasspeichern reagiert. " +
                            "Die fundamentale Versorgungslage wird auch in der kommenden Woche wohl stabil bleiben, " +
                            "weswegen das Hauptaugenmerk demnach auf der Nachfrageseite liegt. " +
                            "Um dies mit validen Daten zu analysieren, hat die Bundesnetzagentur mittlerweile ein Dashboard veröffentlicht, " +
                            "indem die wichtigsten Kennzahlen tagtäglich aktualisiert und verfolgt werden können. " +
                            "Das hintere Ende der Terminmarktkurve könnte sein Preisniveau stabilisieren. " +
                            "Nachdem die meisten Energieversorgungsunternehmen ihre Beschaffungszeiträume für das Frontjahr geschlossen haben, " +
                            "wird das Kalenderjahr 2024 durch die Rollierung mehr in den Fokus gerückt werden. " +
                            "Sollte sich der kurzfristige Aufwärtstrend im Kalenderjahr 2024 nachhaltig zeigen, " +
                            "wäre eine Anpassung des Preisniveaus am Frontjahreskontrakt eher wahrscheinlich. " +
                            "Der vermutlich wichtigste Schwerpunkt wird, " +
                            "wie die Einschätzungen der Temperaturprognosen und die prognostizierte Speicherstandauslastung zum Ende des Winters 2022/2023 sein werden. " +
                            "Aus charttechnischer Sicht muss die Unterstützungsmarke von ca. 260 €/MWh im Kalenderjahr 2024 durchbrochen werden, " +
                            "um den kurzfristigen Aufwärtstrend wieder in den alten Seitwärtstrend umzuwandeln. " +
                            "Beim Kalenderjahr 2025 sollten weiterhin die Handelsvolumina beobachtet werden. " +
                            "Viele Stimmen aus dem Markt sagen, " +
                            "dass ein Großteil der Energieversorgungsunternehmen durch die unsichere wirtschaftliche Situation für das kommende Jahr " +
                            "nach dem 1. Quartal 2023 das Kalenderjahr 2025 weniger im Fokus haben und die Beschaffung hierfür erst einmal auf Eis legen. " +
                            "Viele Industriekunden schließen aktuell eher kurzfristigere Verträge ab, als auf langfristige Festpreisverträge zu setzen. " +
                            "Sollte sich ein Wandel auf der Kundenseite und demnach der Volumina am Markt ergeben, " +
                            "könnte sich der Markt auch hier volatiler zeigen als bisher. " +
                            "Der Ausblick für die Kontrakte bis einschließlich Kalenderjahr 2024 bleiben durch die Wetterprognosen bullish. " +
                            "Das Kalenderjahr 2025 bleibt neutral, solange der neutrale Korridor mit einem Hoch von ca. " +
                            "185 €/MWh nicht nachhaltig durchbrochen wird.");
                        $("#div_strom_outlook_img").show(0);
                    }
                </script>
                <div id="div_strom_outlook_img" hidden>
                    <img src="{{ url_for('static', filename='outlook_strom.png') }}" alt="Outlook strom 1">
                    <br>
                    <img src="{{ url_for('static', filename='outlook_strom_preistendenz.png') }}" alt="Outlook strom 2">
                </div>
            </fieldset>

            <br>

            <!-- gas overview -->
            <fieldset>
                <legend><b>Gas Overview</b></legend>
                <select id="select_gas_overview_chart" required>
                    <option value="">Select chart</option>
                    <option value="the">THE</option>
                    <option value="ttf">TTF</option>
                </select>
                <select id="select_gas_overview_chart_type" required>
                    <option value="">Select chart type</option>
                    <option value="line">Line</option>
                    <option value="bar">Bar</option>
                    <option value="sample">...</option>
                </select>
                <br>
                <br>
                <label>From </label>
                <input type="date" max="{{ date_max }}" value="{{ date_min }}">
                <label>to</label>
                <input type="date" min="{{ date_min }}" max="{{ date_max }}" value="{{ date_max }}">
                <br>
                <br>
                <label>Commentary:</label>
                <br>
                <textarea id="ta_gas_overview" cols="40" rows="5" required></textarea>
                <script>
                    $(() => {
                        let select_chart = $("#select_gas_overview_chart");
                        let select_chart_type = $("#select_gas_overview_chart_type");

                        let trigger_img = () => {
                            if (select_chart.val() === "the") {
                                if (select_chart_type.val() === "line") {
                                    $("#div_gas_overview_img").show(0);
                                } else{
                                    $("#div_gas_overview_img").hide(0);
                                }
                            } else {
                                $("#div_gas_overview_img").hide(0);
                            }
                        };

                        select_chart.on("change", trigger_img);
                        select_chart_type.on("change", trigger_img);
                    });

                    let trigger_gas_overview = () => {
                        $("#select_gas_overview_chart").val("the");
                        $("#select_gas_overview_chart_type").val("line");
                        $("#ta_gas_overview").val(
                            "Das hintere Ende der Gas-Terminkurve legte in der Referenzwoche ebenfalls zu. " +
                            "Das TTF-Kalenderjahr 2023 schloss am Donnerstag bei 140,41 €/MWh (+7,4% wow). " +
                            "Trotz kleiner Ausfälle im norwegischen System blieben die Importe aus Norwegen nach " +
                            "Nordwest-Europa in der Berichtswoche stabil. Wenig gab es auch bezüglich der russischen " +
                            "“Restflüsse” nach Ost-Europa zu berichten. Bezüglich der LNG-Sendouts, so stiegen diese " +
                            "nach Nordwest-Europa inklusive UK in der Berichtswoche in der Spitze auf über 300 mcm/d. " +
                            "Aufgrund der stabilen Prämie von knapp 30 €/MWh, die Europa im Vergleich zu Asien bereit ist zu zahlen, " +
                            "erwarten wir auch nicht einen Rückgang der LNG-Sendouts. Somit ist die Angebotsseite im " +
                            "nordwest-europäischen Gasmarkt unverändert als gut versorgt zu bezeichnen. " +
                            "Nichtsdestotrotz fielen die Speicherstände in Europa aufgrund der kalten Temperaturen von " +
                            "95% voll zu Beginn der Berichtswoche auf nun 92% voll. Dieser deutliche Rückgang der " +
                            "Speicherfüllstände aufgrund der Temperaturen ist derzeit der auschlaggebende Treiber für den Preisanstieg.");
                        $("#div_gas_overview_img").show(0);
                    }
                </script>

                <div id="div_gas_overview_img" hidden>
                    <img src="{{ url_for('static', filename='overview_gas.png') }}" alt="Overview gas 1">
                </div>
            </fieldset>

            <!-- strom overview -->
            <fieldset>
                <legend><b>Electricity Overview</b></legend>
                <select id="select_strom_overview_chart" required>
                    <option value="">Select chart</option>
                    <option value="front_peak">Front & Peak</option>
                </select>
                <select id="select_strom_overview_chart_type" required>
                    <option value="">Select chart type</option>
                    <option value="line">Line</option>
                    <option value="hbar">Bar</option>
                    <option value="sample">...</option>
                </select>
                <br>
                <br>
                <label>From </label>
                <input type="date" max="{{ date_max }}" value="{{ date_min }}">
                <label>to</label>
                <input type="date" min="{{ date_min }}" max="{{ date_max }}" value="{{ date_max }}">
                <br>
                <br>
                <label>Commentary:</label>
                <br>
                <textarea id="ta_strom_overview" cols="40" rows="5" required></textarea>

                <script>
                    $(() => {
                        let select_chart = $("#select_strom_overview_chart");
                        let select_chart_type = $("#select_strom_overview_chart_type");

                        let trigger_img = () => {
                            if (select_chart.val() === "front_peak") {
                                if (select_chart_type.val() === "line") {
                                    $("#div_strom_overview_img").show(0);
                                } else{
                                    $("#div_strom_overview_img").hide(0);
                                }
                            } else {
                                $("#div_strom_overview_img").hide(0);
                            }
                        };

                        select_chart.on("change", trigger_img);
                        select_chart_type.on("change", trigger_img);
                    });

                    let trigger_strom_overview = () => {
                        $("#select_strom_overview_chart").val("front_peak");
                        $("#select_strom_overview_chart_type").val("line");
                        $("#ta_strom_overview").val(
                            "In dieser Berichtswoche ist der Strommarkt weiter durch die Bewegungen am Gasmarkt getrieben worden. " +
                            "Auslöser für die Anstiege im Gas- und somit auch im Strommarkt waren weiterhin die Temperaturprognosen. " +
                            "Nachdem der Markt in der vergangenen Berichtswoche durch zeitweise mildere Aussichten seinen " +
                            "impulsiven Aufwärtstrend moderater hat ausfallen lassen, wurden mit neuen, deutlich kälteren " +
                            "Temperaurprognosen für den Dezember, wieder höhere Preise am Markt gehandelt. " +
                            "Das Frontjahr im Baseload Strom hat am Montag, den 28.11. bei der Unterstützungsmarke von " +
                            "knapp 336 €/MWh geschlossen, ehe der Markt ab Dienstag seinen Aufwärtstrend fortsetzen konnte. " +
                            "Während der Markt am 25.11. noch bei 351 €/MWh schloss, ist die Rallye zum Ende der " +
                            "Berichtswoche noch einmal ordentlich angezogen und hat zwischenzeitlich bei einer Marke " +
                            "von 410 €/MWh notiert. Demnach innerhalb einer Spanne von 59 €/MWh bzw. 17%. Nachdem das " +
                            "kurze Ende bis zum Lieferjahr 2023 einen deutlichen Preiszuwachs erfahren hat, konnten " +
                            "auch die hinteren Jahre ab dem Kalenderjahr 2024 ein neues Preisniveau erreichen. Das " +
                            "Kalenderjahr 2024 im Baseload Strom hat zum Ende der Berichtswoche seinen mittelfristigen " +
                            "Seitwärtstrendkanal zwischen 235 €/MWh im Tief und 260 €/MWh im Hoch verlassen. Der Kontrakt " +
                            "konnte mit untertägig 272,50 €/MWh am Donnerstag ein neues Monatshoch ausbilden, diese Marke " +
                            "jedoch zum Tagesschlusskurs nicht halten. Vom Start bis zum Ende der Berichtswoche hat der " +
                            "Kontrakt um ca. 9% zugelegt. Das Kalenderjahr 2025 hingegen schien sich an den Preisbewegungen " +
                            "der vorherigen Kontrakte wenig interessiert zu zeigen. Der Kontrakt lief recht treiberlos " +
                            "und mit geringem Handelsvolumen zwischen ca. 175 €/MWh und ca. 185 €/MWh und damit deutlich " +
                            "entspannter als die Vorjahre. Neben den Terminmarktkontrakten konnte auch der Day-Ahead an " +
                            "Stärke gewinnen. Durch die anhaltende Windflaute konnten nur recht geringe Winderzeugungsleistungen " +
                            "am Erzeugungskomplex realisiert werden, weshalb die Balance am Kurzfristmarkt durch konventionelle " +
                            "Erzeugungsanlagen gedeckt werden musste");
                        $("#div_strom_overview_img").show(0);
                    }
                </script>

                <div id="div_strom_overview_img" hidden>
                    <img src="{{ url_for('static', filename='overview_strom_base.png') }}" alt="Overview strom 1">
                    <br>
                    <img src="{{ url_for('static', filename='overview_strom_peak.png') }}" alt="Overview strom 2">
                </div>
            </fieldset>

            <br>

            <button>Submit</button> <br><br>

            <script>
                $("#form_main").on("submit", (event) => {
                   event.preventDefault();

                   $("#div_submitted").show(0);
                });
            </script>


        </form>

        <div id="div_submitted" hidden>
            <a href="{{ url_for('static', filename='external.pdf') }}">external.pdf</a> <br>

            <p>Schedule send to mailing list at:
                <input type="time" value="14:00">
                <input type="date" value="{{ date_max }}">
            </p>
            <button onclick="schedule_done()">Schedule</button> <br>
            <script>
                let schedule_done = () => {
                    $("#p_schedule_done").show(0);
                }
            </script>
            <p id="p_schedule_done" hidden>Schedule done!</p>

        </div>

        <script>
            let submit = () => {
                $("#div_submitted").show(0);
            }
        </script>

    </div>


</body>
</html>